*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar .navbar .navbar-nav .nav-item{
    font-size: 18px;
    font-weight: 500;
    color: white;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize; */
}


#main-menu .navbar{
    height: 45px;
}
#main-menu .navbar .navbar-nav .nav-item{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
#main-menu .navbar .navbar-nav .nav-item .dropdown-menu h5{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#main-menu .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    text-align: center;
}
#main-menu .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    color: red;
    background-color: white;
    font-weight: 500;
}
